body {
    font-family: "Fira Sans", sans;
}

code {
    font-family: "Fira Mono", "Source Code Pro", monospaced;
}

pre>code {
    margin: 0 1em;
    overflow-x: scroll;
    border-radius: 5px;
}

@media (max-width: 900px) {
    .nav-container {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        line-height: 1;
    }
    .nav-other {
        border-top: 2px solid lightgray;
    }
    .nav-container ul {
        margin: 0;
        padding: .5em 0;
        list-style: none;
        display: flex;
        flex-flow: column wrap;
    }
    .nav-container ul li {
        text-align: center;
        margin: 0.2em 0;
    }
}
@media (min-width: 900px) {
    .nav-container {
        padding: 1em 0;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        line-height: 1;
    }
    .nav-other {
        border-left: 2px solid lightgray;
    }
    .nav-container ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
    }
    .nav-container ul li {
        margin: 0 1em 0 0;
        text-align: center;
    }
    .nav-container ul li:first-child {
        margin: 0 1em;
    }
}

.nav-logo {
    width: 2em;
    height: auto;
    line-height: 1;
}
