body {
    font-family: "Fira Sans", sans;
    background-color: #EFEFEF;
	color: #111;
}
.upper { text-transform: uppercase }
.content-container {
    padding: 0 1em;
    margin: 0;
}
.page-footer {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    text-align: center;
}
a { color: #0074D9 }
.content-container a {
    text-decoration: none;
    padding: 0.1em;
    box-shadow: none;
}
.content-container a:hover {
    box-shadow: 0px -.15em #0074D9 inset;
    transition: box-shadow 300ms ease-in 0s;
}
img {
    width: 100%;
    height: auto;
}
pre,
code {
    font-family: "Fira Mono", "Source Code Pro", monospaced;
    overflow-x: auto;
}
code { border-radius: 5px }
p code,
p pre,
li code,
li pre {
    padding: 0 0.2em;
    color: #85144b;
}
em { font-weight: 300 }
.nav-container-item {
    display: flex;
    padding: .61em 0;
}
.nav-container {
    display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1;
}
@media (max-width: 900px) {
    .nav-container {
        padding: 1em 0;
        justify-content: space-around;
    }
    .footer-nav > .nav-container-item { border-top: 2px solid lightgray }
    .footer-nav > .nav-container-item:first-child { border-top: none }
    .nav-container-item > ul {
        margin: 0;
        padding: .5em 0;
        list-style: none;
        display: flex;
        flex-flow: column wrap;
    }
    .nav-container-item > ul > li {
		width: 100%;
        text-align: center;
        margin: 0.2em 0;
    }
	.nav-menu-title {
		padding: .61em 0;
	}
}
@media (min-width: 900px) {
    .nav-container {
        padding: 2em 0 3.24em 0;
        justify-content: center;
    }
    .nav-container-item > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
    }
    .nav-container-item > ul > li {
        margin: 0 .5em;
        text-align: center;
    }
	.top-nav > .nav-container-item > ul > li {
		width: 6em;
	}
    .nav-container-item > ul > li:first-child {
        margin: 0 .5em 0 0;
        text-align: center;
    }
    .nav-container-item > ul > li:last-child {
        margin: 0 0 0 .5em;
        text-align: center;
    }
    .content-container {
        margin: auto;
        width: 80vw;
        max-width: 850px;
    }
}
.footer-nav { padding: 1em 0 }
.nav-menu-title { margin: 0 }
.nav-logo {
    width: 3.14em;
    height: auto;
    line-height: 1;
}
a.nav-anim {
    text-decoration: none;
    background-color: none;
    padding: .16em .3em;
    transition: color 300ms ease-in 0s, background-color 300ms ease-in 0s;
}
a.nav-anim:hover {
    background-color: #0074D9;
    color: #EFEFEF;
}
a.list-item-title { font-weight: bold }
.timestamp {
    font-size: .9rem;
    color: #555;
}
.gray { color: #555 }
div.list-item-meta { padding-left: 1em }
div.post-item:nth-child(n) {
    border-bottom: 1px dotted #555;
    margin-bottom: 1em;
}
div.post-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.post-meta {
    padding-left: 1em;
    padding-bottom: .63em;
}
.blog-post-nav {
    display: flex;
    justify-content: space-between;
}
.email-comment {
    text-align: center;
    border-top: 1px solid;
}
