dl {
    &.resume {
        display: flex;
        flex-flow: row wrap;

        > dt {
            font-weight: 500;
            word-wrap: break-word;
            flex-basis: 33%;
            text-align: right;
        }
        > dd {
            margin: 0;
            flex-basis: 64%;
            padding-left: 3%;
        }
    }
}

.resume-name {
    text-align: center;
    font-size: $piem;
}

.application-photo {
    display: flex;
    margin: $piem auto;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(170, 170, 170, .5);
    max-width: $desktop * 0.63;
}
