{{ partial "header.html" . }}
<section id="blog-post">
    <header id="meta">
        <h1 id="post-title">{{ .Title }}</h1>
{{ if not (isset .Params "hidemeta") }}
        <div class="post-meta"><p>Posted on {{ partial "time.html" .Date }}</p>
        {{ if ne .Date .Lastmod }}<p><strong>Updated</strong> on {{ partial "time.html" .Lastmod }}</p>{{ end }}</div>
{{ end }}
    </header>
    <article id="post-content">{{ .Content }}</article>
</section>
<div class="email-comment"><p>Comments, improvements or something else to say? Send me an <a href="mailto:comments@klingt.net?subject=Comment: {{.Title}}">email</a>.</p></div>
<nav>
<div class="blog-post-nav">
    <div>{{ if .Prev }}{{ if eq .Prev.Section "blog" }}<a href="{{ .Prev.Permalink }}" title="newer post">← newer</a>{{ end }}{{ end }}</div>
    <div><a href="{{ .Permalink }}#" title="back to top">↑</a></div>
    <div>{{ if .Next }}{{ if eq .Next.Section "blog" }}<a href="{{ .Next.Permalink }}" title="older post">older →</a>{{ end }}{{ end }}</div>
</div>
</nav>
{{ partial "footer.html" . }}
