<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta name="keywords" content="{{ delimit .Keywords ", " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/imgs/favicon.ico" sizes="16x16">
    <link rel="icon" href="/imgs/logo_128.png" sizes="128x128">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <!-- end meta -->
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.RSSLink }}" title="{{ .Site.Title }}">
    <link rel="feed" type="application/rss+xml" href="{{ .Site.RSSLink }}" title="{{ .Site.Title }}">
    <!-- styling -->
    <link rel="stylesheet" href="{{ "css/normalize.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/animate.min.css" | absURL }}">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="{{ "css/highlight-js/hopscotch.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/main.min.css" | absURL }}">
</head>
<body>
{{ partial "nav.html" . }}
    <div class="content-container">
