<nav>
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
<ul>
{{ range $section := .Site.Sections.Alphabetical }}
    {{ if eq $section.Name "" }}
        {{ range $page := $section.Pages.ByTitle }}
    <li><a href="{{ $page.Permalink }}">{{ $page.Title | lower }}</a></li>
        {{ end }}
    {{ else }}
    <li><a href="{{ $section.Name | absURL }}">{{ $section.Name | lower }}</a></li>
    {{ end }}
{{ end }}
</ul>
<ul>
{{ range .Site.Menus.social.ByWeight }}
    <li>
        <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
    </li>
{{ end }}
</ul>
<ul>
{{ range .Site.Menus.services.ByWeight }}
    <li>
        <a title="{{ .Name }}" href="{{ .URL }}">{{ .Name }}</a>
    </li>
{{ end }}
</ul>
</nav>
