<nav>
<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
<ul>
{{ range $section := .Site.Sections.Alphabetical }}
    {{ if eq $section.Name "" }}
        {{ range $page := $section.Pages.ByTitle }}
    <li><a href="{{ $page.Permalink }}">{{ $page.Title | lower }}</a></li>
        {{ end }}
    {{ else }}
    <li><a href="{{ $section.Name | absURL }}">{{ $section.Name | lower }}</a></li>
    {{ end }}
{{ end }}
</ul>
<ul>
{{ range $menu_name, $menu := .Site.Menus }}
    <strong>{{ $menu_name }}</strong>
    {{ range $entry := $menu.ByWeight }}
    <li>
        <a title="{{ $entry.Name }}" href="{{ $entry.URL }}">{{ $entry.Name }}</a>
    </li>
    {{ end }}
{{ end }}
</ul>
</nav>
