<footer>
    <div class="page-footer">
        <div class="nav-container footer-nav">
        {{ range $menu_name, $menu := .Site.Menus }}
        <ul id="nav-{{$menu_name}}" class="nav-other">
            {{ range $entry := $menu.ByWeight }}
            <li>
                <a class="nav-anim upper" title="{{ $entry.Name }}" href="{{ $entry.URL }}">{{ $entry.Name }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
        </div>
        <p>{{ .Site.Title }} &mdash; {{ .Site.Author.name }} &mdash; <time datetime="{{ .Site.LastChange.Format "2006-01-02" }}">{{ .Site.LastChange.Format "2006" }}</time></p>
        <p>Proudly served since 2006.</p>
    </div>
</footer>
